<div class="pagetitle">
    <h1>Detalle perfil</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Usuarios</li>
            <li class="breadcrumb-item active">Detalle perfil</li>
        </ol>
    </nav>
</div>

<section class="section profile">
    <div class="row">
        <div class="col-xl-3">
            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                    <img src="https://m-net.mx/scosm/images/log.png" alt="Profile" class="rounded-circle">
                    <h2 class="t-center">{{(informacionPerfil.nombre??'')+' '+(informacionPerfil.aPaterno??'')}}</h2>
                    <h3 class="t-center">{{informacionPerfil.perfil ?? ''}}</h3>
                    <div class="social-links mt-2">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-9">
            <div class="card">
                <div class="card-body pt-3">
                    <ul class="nav nav-tabs nav-tabs-bordered" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview"
                                aria-selected="false" role="tab">General</button>
                        </li>
                    </ul>
                    <div class="tab-content pt-2">
                        <div class="tab-pane fade active show" id="profile-overview" role="tabpanel">
                            <h5 class="card-title t-center">Detalle perfil</h5>

                            <form class="row g-3 t-center" autocomplete="off" [formGroup]="formDetalleUsuario">
                                <div class="col-lg-4 col-md-6">
                                    <label for="nombre" class="form-label required">Nombre:</label>
                                    <input formControlName="nombre" type="text"
                                        class="form-control form-control-sm t-center" id="nombre" placeholder="Nombre"
                                        (keypress)="soloLetras($event)">
                                </div>

                                <div class="col-lg-4 col-md-6">
                                    <label for="aPaterno" class="form-label required">Apellido paterno:</label>
                                    <input formControlName="aPaterno" type="text"
                                        class="form-control form-control-sm t-center" id="aPaterno"
                                        placeholder="Apellido paterno" (keypress)="soloLetras($event)">
                                </div>

                                <div class="col-lg-4 col-md-6">
                                    <label for="aMaterno" class="form-label">Apellido materno:</label>
                                    <input formControlName="aMaterno" type="text"
                                        class="form-control form-control-sm t-center" id="aMaterno"
                                        placeholder="Apellido materno" (keypress)="soloLetras($event)">
                                </div>

                                <div class="col-12">
                                    <label for="correo" class="form-label required">Correo:</label>
                                    <input formControlName="correo" type="email"
                                        class="form-control form-control-sm t-center" id="correo" placeholder="Correo"
                                        (keypress)="soloTexto($event)">
                                </div>
                            </form>

                            <div *ngIf="pkUsuario != 0" class="card"
                                style="margin-top: 20px !important; margin-bottom: 0px !important;">
                                <div class="card-body card-w-title">
                                    <div id="totalBloqueCerrar" class="accordion accordion-flush">
                                        <div class="accordion-item">
                                            <div class="d-flex justify-content-center">
                                                <section class="col-xxl-3 col-lg-4 col-md-5 col-9">
                                                    <div class="group-dropdown-form">
                                                        <label for="dropDown"
                                                            class="form-label required">Sector(es):</label><br>
                                                        <app-dropdown [options]="opcionesSectores" [font]="'sectores'"
                                                            (selectionChange)="cambioSectores($event)"
                                                            [disabled]="!guard.permisosModulos.usuarios.actualizar"></app-dropdown>
                                                    </div>
                                                </section>
                                            </div>
                                            <section id="flush-headingOne" class="accordion-header"
                                                style="width: 50px; font-size: 30px !important; margin-top: -60px !important; float: right;">
                                                <button data-bs-toggle="collapse" data-bs-target="#lista-poblaciones"
                                                    aria-expanded="true" aria-controls="flush-collapseOne"
                                                    class="accordion-button">
                                                </button>
                                            </section>
                                            <div id="lista-poblaciones" aria-labelledby="flush-headingOne"
                                                data-bs-parent="#accordionFlushExample"
                                                class="accordion-collapse collapse show">
                                                <div class="row">
                                                    <div class="col-lg-6 t-center"
                                                        *ngFor="let seccion of poblacionesAgrupadas">
                                                        <h3 class="card-title">
                                                            {{seccion.orden}}
                                                        </h3>
                                                        <div class="row d-flex justify-content-center">
                                                            <div class="col-md-6 t-center"
                                                                *ngFor="let poblacion of seccion.poblaciones">
                                                                <span>{{poblacion.label}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="pkUsuario != 0" class="card"
                                style="margin-top: 20px !important; margin-bottom: -5px !important;">
                                <div class="card-body card-w-title" style="margin-bottom: -10px;">

                                    <div id="totalBloqueCerrar2" class="accordion accordion-flush">
                                        <div class="accordion-item">
                                            <div class="d-flex justify-content-center">
                                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                                    <ng-container
                                                        *ngIf="guard.permisosModulos.usuarios.actualizar; else defaultBtns">
                                                        <li *ngFor="let perfil of listaPerfiles" class="nav-item"
                                                            role="presentation">
                                                            <button
                                                                class="btn btn-{{this.formDetalleUsuario.value.pkPerfil != perfil.pkCatPerfil ? 'light' : 'primary'}} btn-sm {{this.formDetalleUsuario.value.pkPerfil != perfil.pkCatPerfil ? '' : 'active'}}"
                                                                id="pills-{{perfil.nombre}}-tab" data-bs-toggle="pill"
                                                                attr.data-bs-target="#pills-{{perfil.nombre}}"
                                                                type="button" role="tab"
                                                                attr.aria-controls="pills-{{perfil.nombre}}"
                                                                aria-selected="true"
                                                                (click)="cambioPerfil(perfil.pkCatPerfil)">{{perfil.nombre}}</button>
                                                        </li>
                                                    </ng-container>
                                                    <ng-template #defaultBtns>
                                                        <li *ngFor="let perfil of listaPerfiles" class="nav-item"
                                                            role="presentation">
                                                            <button
                                                                class="btn btn-{{this.formDetalleUsuario.value.pkPerfil != perfil.pkCatPerfil ? 'light' : 'primary'}} btn-sm {{this.formDetalleUsuario.value.pkPerfil != perfil.pkCatPerfil ? '' : 'active'}}"
                                                                id="pills-{{perfil.nombre}}-tab" data-bs-toggle="pill"
                                                                attr.data-bs-target="#pills-{{perfil.nombre}}"
                                                                type="button" role="tab"
                                                                attr.aria-controls="pills-{{perfil.nombre}}"
                                                                aria-selected="true" disable>{{perfil.nombre}}</button>
                                                        </li>
                                                    </ng-template>
                                                </ul>
                                            </div>
                                            <section id="flush-headingOne" class="accordion-header"
                                                style="width: 50px; font-size: 30px !important; margin-top: -60px !important; float: right;">
                                                <button data-bs-toggle="collapse" data-bs-target="#permisos-perfil"
                                                    aria-expanded="true" aria-controls="flush-collapseOne"
                                                    class="accordion-button">
                                                </button>
                                            </section>
                                            <div id="permisos-perfil" aria-labelledby="flush-headingOne"
                                                data-bs-parent="#accordionFlushExample2"
                                                class="accordion-collapse collapse show">
                                                <div *ngFor="let permiso of objPermisos" class="col-lg-4 col-md-6"
                                                    style="margin-bottom: 10px;">
                                                    <section
                                                        class="col-12 d-flex justify-content-center align-items-center"
                                                        style="margin-top: 5px;">
                                                        <label for="{{permiso.modulo}}" class="form-label mb-0 me-2"
                                                            style="color: black !important;">{{permiso.modulo}}</label>
                                                        <div class="form-check form-switch">
                                                            <input type="checkbox" id="{{permiso.modulo}}"
                                                                class="form-check-input" [(ngModel)]="permiso.valor"
                                                                (change)="cambioPermiso('parent', permiso)"
                                                                [disabled]="!guard.permisosModulos.usuarios.actualizar || formDetalleUsuario.value.pkPerfil == ''">
                                                        </div>
                                                    </section>

                                                    <div class="col-12">
                                                        <div class="d-flex justify-content-center align-items-center">
                                                            <div class="col-11">
                                                                <hr>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div *ngFor="let accion of permiso.acciones"
                                                        class="col-12 form-check form-switch f-left">
                                                        <input type="checkbox" id="{{permiso.modulo+accion.accion}}"
                                                            class="form-check-input" [(ngModel)]="accion.valor"
                                                            (change)="cambioPermiso('child', permiso)"
                                                            [disabled]="!guard.permisosModulos.usuarios.actualizar || (accion.disable ?? formDetalleUsuario.value.pkPerfil == '')">
                                                        <label for="{{permiso.modulo+accion.accion}}"
                                                            class="form-check-label">{{accion.accion}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-12">
                                <br>
                                <div class="d-flex justify-content-center">
                                    <button *ngIf="pkUsuario == 0 || guard.permisosModulos.usuarios.actualizar"
                                        class="btn btn-sm btn-primary" (click)="actualizarInformacionUsuario()">Guardar
                                        cambios</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>